body{
padding:0px;
margin:0px;
background-color:lightblue;
}
.dark-mode {
  background-color: black;
  color: white;
}
.centru {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

@keyframes animatie 
{
  0%   {background-color:green;}
  100% {background-color:green;}
}

@keyframes logo_animat
{
from{margin-left:30%;
}
to
{
margin-left:50px;
}
}

.logo_animat
{
margin-left:50px;
animation-name:logo_animat;
animation-duration:3s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
h1{
text-align:center;
padding:0;
}
article1{
margin-left:100px;
font-size:30px;}
.zxc
{margin-left:50px;

}
.zxc li
{font-size:20px;
word-wrap: break-word;}



.menu-bar{
	margin:0 auto;
}

nav{
height:60px;
background-color:green;
box-shadow: 0 10px 15px rgba(0,0,0,0.1);
animation-name:animatie;
animation-duration:45s;
animation-iteration-count: infinite;
}

.logo{
padding:5px 0 0 80px;
width:90px;
height:auto;
transition:width 2s;
}

.logo:hover
{
width:120px;
}

nav ul{
padding:0;
margin:0;
float:right;
margin-right:30px;
}

nav ul li{
background: #3b4d44;
position:relative;
list-style:none;
display:inline-block;
}

nav ul li a{
display:block;
padding:0 15px;
color:white;
text-decoration:none;
line-height:60px;
font-size:20px;
}

nav ul li a:hover{
background:red;}

nav ul ul{
position:absolute;
top:60px;
display:none;
}

nav ul li:hover > ul{
display:block;
}

nav ul ul li{
width: 175px;
float:none;
display:list-item;
position:relative;
}


